@import url("https://fonts.googleapis.com/css2?family=Prata&family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Prata", serif;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 16px;
}

#more {
  display: none;
}

input {
  height: 30px;
  border-radius: 5px;
  border-style: none;
  padding-left: 5px;
  font: inherit;
  font-size: 12px;  
}

label input{
  color: grey;
}

textarea {
  height: 100px;
  border-radius: 5px;
  border-style: none;
  padding-left: 5px;
  font: inherit;
  font-size: 12px;
  color: grey; 
  padding-top: 20px;
}

/* header,
section,
footer {
  padding: 2 rem;
} */

.btn {
  background-color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #112338;
  font-family: inherit;
  margin-left: 1rem;
}

h1 {
  font-size: 72px;
  font-family: Prata;
  padding-top: 115px;
  letter-spacing: 2px;
  color: white;
  display: flex;
  align-items: flex-end;
  margin-left: 60px;
}

h2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 3px;
  color: white;
  margin-left: 60px;
  padding-top: 20px;
}

h4 {
  color: #e7e7e7;
}


p {
  font-size: 20px;
}

table {
  font-size: 18px;
}
/* HEADER */

img {
  width: 100%;
  height: 25px;
  padding-left: 20px;
}

header {
  position: sticky;
  top: 0;
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  z-index: 10;
}

header a {
  color: #112338;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;
  justify-content: center;
}

li a {
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  font-size: 16px;
}

nav ul li {
  display: inline-block;
  margin: 1 rem;
  font-size: 1rem;
}

.bg {
  background-color: white;
}

.bg a,
.bg span {
  color: #032330;
}

#mob_button {
  display: none;
}

/* SECTIONS */
section {
  min-height: 100vh;
  width: 100%;
  scroll-margin-top: 5rem;
}

#first {
  background-image: url("photo/blue-1634110.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  width: 100%;
}



section:nth-child(odd) {
  background-color: #112338;
}

section:nth-child(even) {
  background-color: #e7e7e7;
}

h3 {
  color: white;
  font-size: 32px;
}



/* .projects_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  height: 100%;
} */


/* .projects_wrap img {
  width: 200px;
  height: 200px;
} */

/* MODAL */

/* .overlay.visible {
  background-color: #FF5252;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.visible {
  position: relative;
  background:  #52ff97; 
  
  min-height: 50vh;
  width: 50%;
  border-radius: 10px;
  color: grey;
  padding: 3rem;
  margin: 15% auto;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.overlay {
  display: none;
} */


/* Projects section */
#projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* gap:200px; */
}

#projects h3{
color: #112338;
text-align: center;
padding-top: 50px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;

}

.container .card {
  position: relative;
}

.container .card .face.face1 {
  position: relative;
  background:#112338;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  box-shadow: 6px -7px 26px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  border-style: none;
  width: 220px;
  height: 270px;
}

.container .card:hover .face.face1 {
  transform: translateY(0);
 border-style: solid white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 220px;
  height: 180px;

}

.container .card  .face.face1 {
  /* opacity: .2; */
  transition: 1s;
  text-align: center;
  
}

.container .card  .face.face1 .content h3 {
  font-size: 1em;
  color: white;
 
}

.container .card  .face.face1 .content p {
padding-left: 10px;
}

.container .card .face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transform: translateY(-100px);
  width: 220px;
  height: 150px;
}

.container .card:hover .face.face2 {
  transform: translateY(0);
 border-style: solid white;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
 width: 220px;
 height: 150px;
 box-shadow: 6px -7px 26px 0px rgba(0,0,0,0.75);
}

.container .card .face.face2 .content p {
padding:0 0 10px 10px;
font-size: 12px;
}

/* ABOUT ME SECTION */
#about h3 {
  padding: 50px 0 0 150px;
}

#about div {
margin: 50px  300px;
  background-color: #e7e7e7;
  border-radius: 10px;
  width: 350px;
  height: 450px;
}

#about div p {
  margin: 25px;
  padding-top: 35px;
}

/* SKILLS SECTION  */
 /* #skills {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
 */

#skills h3 {
  color: #112338;
  text-align: center;
  padding-top: 50px;
}

.skills_container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
}

li a {
  padding: 0 1rem;
  font-size: 2rem;
  transition: 0.5s;
  }

.skill_icon {
  color: #112338;
  padding: 0 0.5rem;
  font-size: 3rem;
  transition: 0.5s;
}

.progress {
  /* margin-top: 50px; */
  background-color: #a4a4a4a4;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  /* padding: 0 5px; */
  display:flex;
  height: 30px;
  width: 600px;
}

.progress-value1 {
  animation: load1 5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #112338 0%, #7ee8fa 74%);
  height: 30px; 
}

.progress-value2 {
  animation: load2 5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #112338 0%, #7ee8fa 74%);
  height: 30px; 
}

.progress-value3 {
  animation: load3 5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #112338 0%, #7ee8fa 74%);
  height: 30px; 
}

.progress-value4 {
  animation: load4 5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #112338 0%, #7ee8fa 74%);
  height: 30px; 
}

@keyframes load1 {
  0% { width: 0; }
  100% { width: 75%;}
}

@keyframes load2 {
  0% { width: 0; }
  100% { width: 90%;}
}


@keyframes load3 {
  0% { width: 0; }
  100% { width: 80%;}
}

@keyframes load4 {
  0% { width: 0; }
  100% { width: 45%;}
}



/* FOOTER */

#back_to_top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  
  font-size: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: #112338;
}

/* .contact_container {
  display: flex;
  flex-direction: column;
} */

footer h3 {
  color: white;
  margin-bottom: 50px;
  margin-top: 30px;
}

form{
  display: flex;
  flex-direction: column;
}
.contact_form {
  display: flex;
  flex-direction: column;
  
  gap: 10px;
}

footer p {
  font-size: 10px;
}

.btn_icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social_media li {
display:flex;

}

li a {
padding: 0 0.5rem;
font-size: 1.5rem;
transition: 0.5s;
}

i:hover {
  color: #FF5252;

}

.btn_send {
  
  background-color: #FF5252;
  width: 5rem;
  padding: 1px 3px 2px 3px;
  border-radius: 5px;
  border-style: none;
}

i {
  color: #e7e7e7;
}


/* MOBILE */

@media (max-width: 800px) {
  nav ul {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
  }

  #mob_button {
    background-color: transparent;
    display: block;
    border: none;
    color: #112338;
    padding: 1rem;
  }

  nav.responsive ul {
    background-color: #FF5252;
    border-radius: 10px;
    width: 50%;
    display: block;
    position: absolute;
    right: 0;
    /* top: 85px; */
  }

  nav.responsive ul li {
    display: block;
  }

  nav.responsive ul li a {
    color: rgb(255, 255, 255);
  }
}

/* FOOTER WAVES */

.footer_waves {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
/* .logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
} */

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100vw;
  height:30vh;
  /* margin-bottom:-7px; Fix for safari gap */
  min-height:100px;
  max-height:150px;
}

.content_footer {
  position:relative;
  height:20vh;
  text-align:end;
  /* background-color: white; */
}



/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-50px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
