* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: lightyellow;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 0.2rem;
  }

.item {
min-height: 100px;
padding-left: 10px;
padding-top: 10px;
}



  .Stitle {
    background-color: yellow;
    grid-column: 1/ span 3;
  }

  .nav {
    background-color: pink;
  }

  .Ptitle {
    grid-column: 1 / span 5;
    background-color: lightblue;
  }

  .sidebar {
    background-color: orange;
    /* grid-row: span 2; */
    grid-row: 2 / span 2;
    grid-column: 6 /span 1;
  }
  .meta {
    background-color: lightgreen;
    grid-row: 3/ span 5;
  }
  .content {
    background-color: grey;
    grid-column: 2 / span 4;
    grid-row: 3 /span 2;

  }
  .ads {
    background-color: green;
    grid-row: 4 / span 2;
    grid-column: 6 /span 1;
    
  }

  .image {
    background-color: yellow;
    grid-column: 2 / span 4;
    grid-row: 5 / span 3;
  }
  .stuff {
background-color: purple;
grid-row: 6 / span 2;
  }

  .footer {
background-color: brown;
grid-column: 1/ 7;
  }