* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  font-family: 'Open Sans', sans-serif;
}



/* Header */

header {
  background-color: grey;
  
}

.header_wrap {
display: flex;
justify-content: space-between;
padding: 0 1rem 0 1rem;
width: 100vw;
}

li a {
  display: inline-block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 10px;
}

h2 {


}

.header_img {
  background-color: rgb(196, 193, 193);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}


img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}





.wrap {
  display: flex;
  gap: 10px;
}


