doby {
  background-color: darkgoldenrod;
}

section {
  min-height: 25vh;
}

#something1 {
  background-color: green;
}

#something2 {
  background-color: yellow;
}

#something3 {
  background-color: pink;
}

#something4 {
  background-color: red;
}

#something5 {
  background-color: grey;
}

#something6 {
  background-color: blue;
}

.cards {
  display: flex;
}

.card {
  background-color: azure;
  margin: 20px;
  border-radius: 5px;
  width: 33%;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3,
.card p,
.card a {
  padding: 0 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card {
    background-color: #333;
    color: red;
  }
}
